In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sites_df = pd.read_csv('../data/Site_Data.csv', nrows=25722)
sites_df

,FID,AssignedDa,SurvDate,County,HistType,PrehType,Ownership,PhysioDiv,Boundary,LandUse,Disturbanc,RptrType,SurvLevel
0,0,1960-05-21,1995-07-17,Anderson,,open habitation,federal gov,Valley and Ridge,partial,Inundated/Riverbank,Percent Percent Unknown,Educational Institution,Test Units
1,1,1960-05-21,1960-05-21,Anderson,,open habitation,federal gov,Valley and Ridge,complete,Inundated/Riverbank,,Avocational Archaeologist,Shovel Testing
2,2,1960-05-21,1960-01-01,Anderson,,open habitation,unknown,Valley and Ridge,partial,,Percent Unknown,Avocational Archaeologist,Shovel Testing
3,3,1960-05-21,1995-07-17,Anderson,,"open habitation, earth mound, prehistoric ceme...",federal gov,Valley and Ridge,partial,Inundated/Riverbank,Percent Unknown,Educational Institution,Test Units
4,4,1960-05-21,1997-05-22,Anderson,,open habitation,federal gov,Valley and Ridge,partial,Secondary Growth,Percent Unknown,Educational Institution,Shovel Testing
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25716,25716,2017-08-15,1899-12-29,Union,,,federal gov,Valley and Ridge,,,,Educational Institution,Shovel Testing
25717,25717,2017-08-22,1899-12-29,,,,,,,,,,
25718,25718,2017-08-22,1899-12-29,,,,,,,,,,
25719,25719,2017-08-22,1899-12-29,,,,,,,,,,
25720,25720,2017-08-22,1899-12-29,,,,,,,,,,

In [ ]:
sites_df.dtypes

In [ ]:
sites_df.shape

In [ ]:
reporter_by_county = sites_df[['County', 'RptrType']]
reporter_by_county

In [ ]:
reporter_county = reporter_by_county.rename(columns={"RptrType": "ReporterType"})
reporter_county

In [ ]:
reporter = reporter_county.groupby(["County", "ReporterType"])["ReporterType"].count()
reporter
#result = df.groupby(['Courses','Fee'])['Courses'].count()

In [ ]:
#turn into dataframe
pd.DataFrame(data = reporter)

### Work on figuring out why the above dataframe won't reset index and download to a csv correctly

In [ ]:
reporter.to_csv('reporter_by_county.csv', index=False)

In [ ]:
reporter.info()

### Count of recorded archaeological sites per county in TN

In [ ]:
#count of sites per county
counties = sites_df.County.value_counts()
counties

In [ ]:
#reset index
counties = counties.reset_index()
counties

In [ ]:
#rename columns
counties = counties.rename(columns={"index": "county", "County": "recorded_sites"})
counties

In [ ]:
(counties.loc[counties['county'] == 'Sequatchie'])

In [ ]:
#drop blank row and 'DV' row
counties_2 = counties.drop(index=[95,96], axis=0)
counties_2

In [ ]:
#download as csv file
counties_2.to_csv('sites_by_county.csv', index=False)

In [ ]:
sns.barplot(data=counties_2, x='county', y='recorded_sites')
plt.xticks(rotation=90)
plt.figure(figsize=(20,20))

### count of sites by owner type

In [ ]:
#value counts of sites by owner type
ownership = sites_df.Ownership.value_counts()
ownership

In [ ]:
#turn into dataframe
pd.DataFrame(data = ownership)

In [ ]:
#reset the index
ownership = ownership.reset_index()
ownership

In [ ]:
#rename columns
ownership = ownership.rename(columns={"index": "owner_type", "Ownership": "recorded_sites"})
ownership

In [ ]:
#replace blank values with "unknown"
ownership = ownership.replace(' ', 'unknown')
ownership

In [ ]:
#rename federal government rows
ownership = ownership.replace('federal', 'federal gov')
ownership

In [ ]:
#rename local government rows
ownership = ownership.replace('Local', 'local gov')
ownership

In [ ]:
#group owner_type column by unique values and sum identical owner_types together
ownership = ownership.groupby(by="owner_type").sum('recorded_sites')
ownership

In [ ]:
#sort recorded sites in descending order
ownership = ownership.sort_values(by="recorded_sites", ascending = False)
ownership

In [ ]:
#reset index
ownership = ownership.reset_index()
ownership

In [ ]:
#download as csv file
ownership.to_csv('sites_by_owner_type.csv', index=False)

In [ ]:
sns.barplot(data = ownership, x = "owner_type", y = "recorded_sites")

### count of sites by prehistoric site type

In [3]:
#value counts of prehistoric sites by site type
prehistoric_types = sites_df.PrehType.value_counts()
prehistoric_types

open habitation                                                              16528
                                                                              6410
rock shelter                                                                  1123
open habitation, prehistoric cemetery                                          173
isolated non-diagnostic artifact                                               148
                                                                             ...
open habitation, platform mound, shell mound/midden, prehistoric cemetery        1
open habitation, pleistocene fauna                                               1
open habitation, prehistoric cemetery, indeterminate mound                       1
stone mound, isolated burial(s)                                                  1
Fish weir                                                                        1
Name: PrehType, Length: 126, dtype: int64

In [4]:
#turn into dataframe
pd.DataFrame(data=prehistoric_types)

                                                    PrehType
open habitation                                        16528
                                                        6410
rock shelter                                            1123
open habitation, prehistoric cemetery                    173
isolated non-diagnostic artifact                         148
...                                                      ...
open habitation, platform mound, shell mound/mi...         1
open habitation, pleistocene fauna                         1
open habitation, prehistoric cemetery, indeterm...         1
stone mound, isolated burial(s)                            1
Fish weir                                                  1

[126 rows x 1 columns]

In [5]:
#reset the index
prehistoric_types = prehistoric_types.reset_index()
prehistoric_types

                                                 index  PrehType
0                                      open habitation     16528
1                                                           6410
2                                         rock shelter      1123
3                open habitation, prehistoric cemetery       173
4                     isolated non-diagnostic artifact       148
..                                                 ...       ...
121  open habitation, platform mound, shell mound/m...         1
122                 open habitation, pleistocene fauna         1
123  open habitation, prehistoric cemetery, indeter...         1
124                    stone mound, isolated burial(s)         1
125                                          Fish weir         1

[126 rows x 2 columns]

In [6]:
#rename columns
prehistoric_types = prehistoric_types.rename(columns={"index": "Site Type", "PrehType": "Recorded Sites"})
prehistoric_types

                                             Site Type  Recorded Sites
0                                      open habitation           16528
1                                                                 6410
2                                         rock shelter            1123
3                open habitation, prehistoric cemetery             173
4                     isolated non-diagnostic artifact             148
..                                                 ...             ...
121  open habitation, platform mound, shell mound/m...               1
122                 open habitation, pleistocene fauna               1
123  open habitation, prehistoric cemetery, indeter...               1
124                    stone mound, isolated burial(s)               1
125                                          Fish weir               1

[126 rows x 2 columns]

In [7]:
#replace blank values with "unknown"
prehistoric_types = prehistoric_types.replace(' ', 'unknown')
prehistoric_types

                                             Site Type  Recorded Sites
0                                      open habitation           16528
1                                              unknown            6410
2                                         rock shelter            1123
3                open habitation, prehistoric cemetery             173
4                     isolated non-diagnostic artifact             148
..                                                 ...             ...
121  open habitation, platform mound, shell mound/m...               1
122                 open habitation, pleistocene fauna               1
123  open habitation, prehistoric cemetery, indeter...               1
124                    stone mound, isolated burial(s)               1
125                                          Fish weir               1

[126 rows x 2 columns]

In [8]:
#sort recorded sites in descending order
prehistoric_types = prehistoric_types.sort_values(by="Recorded Sites", ascending = False)
prehistoric_types

                                             Site Type  Recorded Sites
0                                      open habitation           16528
1                                              unknown            6410
2                                         rock shelter            1123
3                open habitation, prehistoric cemetery             173
4                     isolated non-diagnostic artifact             148
..                                                 ...             ...
90                                  stoneworks, quarry               1
91                           open habitation, cemetery               1
92                                   Pleistocene fauna               1
94   open habitation, earth mound, indeterminate mound               1
125                                          Fish weir               1

[126 rows x 2 columns]

In [9]:
#rename rows
prehistoric_types = prehistoric_types.replace({'open habitation, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, earth mound': 'earth mound', 'open habitation, mound complex': 'mound complex', 'open habitation, shell mound/midden': 'shell mound/midden', 'open habitation, indeterminate mound': 'indeterminate mound', 'open habitation, quarry': 'quarry', 'open habitation, isolated burial(s)': 'isolated burial(s)'})
prehistoric_types

                                             Site Type  Recorded Sites
0                                      open habitation           16528
1                                              unknown            6410
2                                         rock shelter            1123
3                                 prehistoric cemetery             173
4                     isolated non-diagnostic artifact             148
..                                                 ...             ...
90                                  stoneworks, quarry               1
91                           open habitation, cemetery               1
92                                   Pleistocene fauna               1
94   open habitation, earth mound, indeterminate mound               1
125                                          Fish weir               1

[126 rows x 2 columns]

In [10]:
#rename rows
prehistoric_types = prehistoric_types.replace({'cave, Pleistocene fauna': 'Pleistocene fauna', 'open habitation, stone mound': 'stone mound', 'open habitation, platform mound': ' platform mound', 'open habitation, mound complex, prehistoric cemetery': 'prehistoric cemetery', 'cave, rock shelter': 'rock shelter', 'open habitation, earth mound, prehistoric cemetery': 'prehistoric cemetery', 'earth mound, prehistoric cemetery': 'prehistoric cemetery', 'cave, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, rock shelter': 'rock shelter', 'mound complex, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, indeterminate mound, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, earth mound, shell mound/midden': 'shell mound/midden', 'earth mound, indeterminate mound': 'indeterminate mound', 'stone mound, earth mound': 'earth mound', 'mound complex, stone mound': 'stone mound', 'open habitation, mound complex, platform mound': 'platform mound', 'open habitation, mound complex, platform mound, earth mound': 'earth mound', 'open habitation, cave': 'cave'})
prehistoric_types

                                             Site Type  Recorded Sites
0                                      open habitation           16528
1                                              unknown            6410
2                                         rock shelter            1123
3                                 prehistoric cemetery             173
4                     isolated non-diagnostic artifact             148
..                                                 ...             ...
90                                  stoneworks, quarry               1
91                           open habitation, cemetery               1
92                                   Pleistocene fauna               1
94   open habitation, earth mound, indeterminate mound               1
125                                          Fish weir               1

[126 rows x 2 columns]

In [11]:
#rename rows
prehistoric_types = prehistoric_types.replace({'rock shelter, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, Pleistocene fauna': 'Pleistocene fauna', 'open habitation, mound complex, earth mound': 'earth mound', 'mound complex, earth mound': 'earth mound', 'stone mound, prehistoric cemetery': 'prehistoric cemetery', 'rock shelter, isolated burial(s)': 'isolated burial(s)', 'earth mound, isolated burial(s)': 'isolated burial(s)', 'mound complex, stone mound, earth mound': 'earth mound', 'open habitation, earth mound, isolated burial(s)': 'isolated burial(s)', 'open habitation, fish weir': 'fish weir', 'open habitation, prehistoric cemetery, shell mound/midden': 'prehistoric cemetery', 'cave, pleistocene fauna': 'Pleistocene fauna', 'cave, isolated burial(s)': 'isolated burial(s)', 'open habitation, earth mound, earthworks' : 'earthworks', 'open habitation, platform mound, prehistoric cemetery': 'prehistoric cemetery'})
prehistoric_types

                                             Site Type  Recorded Sites
0                                      open habitation           16528
1                                              unknown            6410
2                                         rock shelter            1123
3                                 prehistoric cemetery             173
4                     isolated non-diagnostic artifact             148
..                                                 ...             ...
90                                  stoneworks, quarry               1
91                           open habitation, cemetery               1
92                                   Pleistocene fauna               1
94   open habitation, earth mound, indeterminate mound               1
125                                          Fish weir               1

[126 rows x 2 columns]

In [12]:
#rename rows
prehistoric_types = prehistoric_types.replace({'open habitation, mound complex, platform mound, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, platform mound, earth mound': 'earth mound', 'open habitation, mound complex, earth mound, prehistoric cemetery': 'prehistoric cemetery', 'cave, pictograph': 'pictograph', 'stone mound, earthmound, prehistoric cemetery': 'prehistoric cemetery', 'stone mound, stoneworks': 'stoneworks', 'stone mound, stoneworks (pile)': 'stoneworks', 'open habitation, prehistoric cemetery, quarry': 'prehistoric cemetery', 'open habitation, stoneworks':'stoneworks'})
prehistoric_types

                                             Site Type  Recorded Sites
0                                      open habitation           16528
1                                              unknown            6410
2                                         rock shelter            1123
3                                 prehistoric cemetery             173
4                     isolated non-diagnostic artifact             148
..                                                 ...             ...
90                                  stoneworks, quarry               1
91                           open habitation, cemetery               1
92                                   Pleistocene fauna               1
94   open habitation, earth mound, indeterminate mound               1
125                                          Fish weir               1

[126 rows x 2 columns]

In [13]:
#rename rows
prehistoric_types = prehistoric_types.replace({'platform mound, prehistoric cemetery': 'prehistoric cemetery', 'platform mound, stone mound': 'stone mound', 'open habitation, stoneworks (piles)': 'stoneworks', 'platform mound, indeterminate mound': 'platform mound', 'open habitation, stone works': 'stoneworks', 'rock shelter, fish weir': 'fish weir', 'cave, open habitation': 'cave', 'cave, mound complex, stone mound': 'stone mound', 'cave, isolated burials': 'isolated burials', 'open habitation, stone mound, isolated burial(s)': 'isolated burial(s)', 'rock shelter, petroglyph': 'petroglyph'})
prehistoric_types

                                             Site Type  Recorded Sites
0                                      open habitation           16528
1                                              unknown            6410
2                                         rock shelter            1123
3                                 prehistoric cemetery             173
4                     isolated non-diagnostic artifact             148
..                                                 ...             ...
90                                  stoneworks, quarry               1
91                           open habitation, cemetery               1
92                                   Pleistocene fauna               1
94   open habitation, earth mound, indeterminate mound               1
125                                          Fish weir               1

[126 rows x 2 columns]

In [14]:
#rename rows
prehistoric_types = prehistoric_types.replace({'indeterminate mound, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, shell mound/midden, isolated burial(s)': 'isolated burial(s)', 'open habitation, shell mound/midden, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, stone mound, earth mound': 'earth mound', 'open habitation, stone mound, quarry': 'quarry', 'cave, rock shelter, isolated burial(s)': 'isolated burial(s)', 'cave, quarry, pleistocene fauna': 'Pleistocene fauna', 'cave, quarry, open habitation': 'quarry', 'cave, quarry': 'quarry', 'cave, prehistoric cemetery, pleistocene fauna': 'Pleistocene fauna'})
prehistoric_types

                                             Site Type  Recorded Sites
0                                      open habitation           16528
1                                              unknown            6410
2                                         rock shelter            1123
3                                 prehistoric cemetery             173
4                     isolated non-diagnostic artifact             148
..                                                 ...             ...
90                                  stoneworks, quarry               1
91                           open habitation, cemetery               1
92                                   Pleistocene fauna               1
94   open habitation, earth mound, indeterminate mound               1
125                                          Fish weir               1

[126 rows x 2 columns]

In [15]:
#rename rows
prehistoric_types = prehistoric_types.replace({'open habitation, prehistoric cemetery, indeterminate mound': 'prehistoric cemetery', 'cave, isolated burial': 'isolated burial(s)', 'cave, Pleistocene fauna, prehistoric cemetery': 'prehistoric cemetery', 'stone mound, isolated burial(s)': 'isolated burial(s)', 'stoneworks, prehistoric cemetery': 'prehistoric cemetery', 'stoneworks, quarry': 'quarry', 'open habitation, rock shelter, mound complex, shell mound/midden': 'shell mound/midden', 'open habitation, prehistoric cemetery, fish weir': 'prehistoric cemetery', 'open habitation, cemetery': 'prehistoric cemetery', 'fish weir, stoneworks': 'fish weir'})
prehistoric_types

                                             Site Type  Recorded Sites
0                                      open habitation           16528
1                                              unknown            6410
2                                         rock shelter            1123
3                                 prehistoric cemetery             173
4                     isolated non-diagnostic artifact             148
..                                                 ...             ...
90                                              quarry               1
91                                prehistoric cemetery               1
92                                   Pleistocene fauna               1
94   open habitation, earth mound, indeterminate mound               1
125                                          Fish weir               1

[126 rows x 2 columns]

In [16]:
#rename rows
prehistoric_types = prehistoric_types.replace({'earthworks, open habitation': 'earthworks', 'mound complex, earth mound, isolated burial(s)': 'isolated burial(s)', 'mound complex, prehistoric cemetery, open habitation': 'prehistoric cemetery', 'mound complex, stone mound, isolated burial(s)': 'isolated burial(s)', 'cave, stoneworks': 'stoneworks', 'open habitation, cave, rock shelter': 'rock shelter', 'open habitation, pleistocene fauna': 'Pleistocene fauna', 'open habitation, earth mound, prehistoric cemetery, earthworks': 'prehistoric cemetery', 'open habitation, earthworks, prehistoric cemetery': 'prehistoric cemetery'})
prehistoric_types

                                             Site Type  Recorded Sites
0                                      open habitation           16528
1                                              unknown            6410
2                                         rock shelter            1123
3                                 prehistoric cemetery             173
4                     isolated non-diagnostic artifact             148
..                                                 ...             ...
90                                              quarry               1
91                                prehistoric cemetery               1
92                                   Pleistocene fauna               1
94   open habitation, earth mound, indeterminate mound               1
125                                          Fish weir               1

[126 rows x 2 columns]

In [17]:
#rename rows
prehistoric_types = prehistoric_types.replace({'open habitation, indeterminate mound': 'indeterminate mound', 'open habitation, mound complex, indeterminate mound, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, mound complex, platform mound, earthworks': 'platform mound', 'open habitation, mound complex, platform mound, indeterminate mound, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, mound complex, stone mound': 'stone mound', 'open habitation, platform mound, shell mound/midden': 'shell mound/midden', 'open habitation, platform mound, shell mound/midden, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, earth mound, indeterminate mound': 'earth mound'})
prehistoric_types

                            Site Type  Recorded Sites
0                     open habitation           16528
1                             unknown            6410
2                        rock shelter            1123
3                prehistoric cemetery             173
4    isolated non-diagnostic artifact             148
..                                ...             ...
90                             quarry               1
91               prehistoric cemetery               1
92                  Pleistocene fauna               1
94                        earth mound               1
125                         Fish weir               1

[126 rows x 2 columns]

In [18]:
#rename rows
prehistoric_types = prehistoric_types.replace({'stone mound, indetermineate mound': 'stone mound', 'stoneworks, isolated burial(s)':'isolated burial(s)', 'stoneworks (stone pile)':'stoneworks', 'open habitation, mound complex, platform mound, indeterminate mound, prehistoric cemetery': 'prehistoric cemetery', 'Fish weir':'fish weir', 'open habitation, inderminate mound': 'indeterminate mound', 'Pleistocene Fauna': 'Pleistocene fauna', ' platform mound': 'platform mound', 'isolated prehistoric burial(s)': 'isolated burial(s)'})
prehistoric_types

                            Site Type  Recorded Sites
0                     open habitation           16528
1                             unknown            6410
2                        rock shelter            1123
3                prehistoric cemetery             173
4    isolated non-diagnostic artifact             148
..                                ...             ...
90                             quarry               1
91               prehistoric cemetery               1
92                  Pleistocene fauna               1
94                        earth mound               1
125                         fish weir               1

[126 rows x 2 columns]

In [19]:
#rename rows
prehistoric_types = prehistoric_types.replace({'reported earth mound': 'earth mound', ' open habitation, mound complex, platform mound, indeterminate mound, prehistoric cemetery': 'prehistoric cemetery', 'non-diagnostic isolate': 'isolated non-diagnostic artifact', 'isolated burials': 'isolated burial(s)'})
prehistoric_types

                            Site Type  Recorded Sites
0                     open habitation           16528
1                             unknown            6410
2                        rock shelter            1123
3                prehistoric cemetery             173
4    isolated non-diagnostic artifact             148
..                                ...             ...
90                             quarry               1
91               prehistoric cemetery               1
92                  Pleistocene fauna               1
94                        earth mound               1
125                         fish weir               1

[126 rows x 2 columns]

In [20]:
#group owner_type column by unique values and sum identical owner_types together
prehistoric_types = prehistoric_types.groupby(by="Site Type").sum('Recorded Sites')
prehistoric_types

                                                    Recorded Sites
Site Type
Miocene Fauna                                                    1
Pleistocene fauna                                               67
cave                                                           118
earth mound                                                    203
earthworks                                                       4
fish weir                                                       20
indeterminate mound                                            114
isolated burial(s)                                              57
isolated non-diagnostic artifact                               149
isolated temporally sensitive artifact                          59
limestone fissure                                                1
mound complex                                                  127
open habitation                                              16528
open habitation, mound complex, platform mound,...               1
petroglyph                                                       6
pictograph                                                       3
platform mound                                                  34
prehistoric cemetery                                           365
quarry                                                          44
quarrylithic extraction                                         71
rock shelter                                                  1148
shell mound/midden                                              61
stone mound                                                     92
stoneworks                                                      38
unknown                                                       6410

In [21]:
#sort recorded sites in descending order
prehistoric_types = prehistoric_types.sort_values(by="Recorded Sites", ascending = False)
prehistoric_types

                                                    Recorded Sites
Site Type
open habitation                                              16528
unknown                                                       6410
rock shelter                                                  1148
prehistoric cemetery                                           365
earth mound                                                    203
isolated non-diagnostic artifact                               149
mound complex                                                  127
cave                                                           118
indeterminate mound                                            114
stone mound                                                     92
quarrylithic extraction                                         71
Pleistocene fauna                                               67
shell mound/midden                                              61
isolated temporally sensitive artifact                          59
isolated burial(s)                                              57
quarry                                                          44
stoneworks                                                      38
platform mound                                                  34
fish weir                                                       20
petroglyph                                                       6
earthworks                                                       4
pictograph                                                       3
open habitation, mound complex, platform mound,...               1
limestone fissure                                                1
Miocene Fauna                                                    1

In [ ]:
prehistoric_types['Recorded Sites'].sum()

In [ ]:
prehistoric_types_final = prehistoric_types[prehistoric_types['Recorded Sites'] >= 20]
prehistoric_types_final

In [ ]:
prehistoric_types_final = prehistoric_types_final.reset_index()
prehistoric_types_final

In [ ]:
prehistoric_types_final.to_csv('prehistoric_site_types.csv', index=False)

### count of sites by historic site type

In [22]:
historic_types = sites_df.HistType.value_counts()
historic_types

                                                                                                        16830
rural domestic house                                                                                     1601
rural domestic scatter                                                                                   1221
untyped historic scatter                                                                                 1003
rural domestic farmstead                                                                                  880
                                                                                                        ...
militaryearthwork, entrenchment, priest cap                                                                 1
dump, untyped historic scatter                                                                              1
millgrist, store, ferry                                                                                     1
railroad bridge                                                                                             1
rural domestic farmstead, barn, untyped structure, untyped stone structure (piles, walls), check dam        1
Name: HistType, Length: 883, dtype: int64

In [23]:
#turn into dataframe
pd.DataFrame(data=historic_types)

                                                    HistType
                                                       16830
rural domestic house                                    1601
rural domestic scatter                                  1221
untyped historic scatter                                1003
rural domestic farmstead                                 880
...                                                      ...
militaryearthwork, entrenchment, priest cap                1
dump, untyped historic scatter                             1
millgrist, store, ferry                                    1
railroad bridge                                            1
rural domestic farmstead, barn, untyped structu...         1

[883 rows x 1 columns]

In [24]:
#reset the index
historic_types = historic_types.reset_index()
historic_types

                                                 index  HistType
0                                                          16830
1                                 rural domestic house      1601
2                               rural domestic scatter      1221
3                             untyped historic scatter      1003
4                             rural domestic farmstead       880
..                                                 ...       ...
878        militaryearthwork, entrenchment, priest cap         1
879                     dump, untyped historic scatter         1
880                            millgrist, store, ferry         1
881                                    railroad bridge         1
882  rural domestic farmstead, barn, untyped struct...         1

[883 rows x 2 columns]

In [25]:
#rename columns
historic_types = historic_types.rename(columns={"index": "Site Type", "HistType": "Recorded Sites"})
historic_types

                                             Site Type  Recorded Sites
0                                                                16830
1                                 rural domestic house            1601
2                               rural domestic scatter            1221
3                             untyped historic scatter            1003
4                             rural domestic farmstead             880
..                                                 ...             ...
878        militaryearthwork, entrenchment, priest cap               1
879                     dump, untyped historic scatter               1
880                            millgrist, store, ferry               1
881                                    railroad bridge               1
882  rural domestic farmstead, barn, untyped struct...               1

[883 rows x 2 columns]

In [26]:
#replace blank values with "unknown"
historic_types = historic_types.replace(' ', 'unknown')
historic_types

                                             Site Type  Recorded Sites
0                                              unknown           16830
1                                 rural domestic house            1601
2                               rural domestic scatter            1221
3                             untyped historic scatter            1003
4                             rural domestic farmstead             880
..                                                 ...             ...
878        militaryearthwork, entrenchment, priest cap               1
879                     dump, untyped historic scatter               1
880                            millgrist, store, ferry               1
881                                    railroad bridge               1
882  rural domestic farmstead, barn, untyped struct...               1

[883 rows x 2 columns]

In [27]:
#sort recorded sites in descending order
historic_types = historic_types.sort_values(by="Recorded Sites", ascending = False)
historic_types

                                             Site Type  Recorded Sites
0                                              unknown           16830
1                                 rural domestic house            1601
2                               rural domestic scatter            1221
3                             untyped historic scatter            1003
4                             rural domestic farmstead             880
..                                                 ...             ...
480           miltaryshort term hospital, headquarters               1
481                         military, commercialoffice               1
482   industrial, lumbering operation, blacksmith shop               1
483        home industrygunsmith, rural domestic house               1
882  rural domestic farmstead, barn, untyped struct...               1

[883 rows x 2 columns]

In [28]:
#group owner_type column by unique values and sum identical owner_types together
historic_types = historic_types.groupby(by="Site Type").sum('Recorded Sites')
historic_types

                                                   Recorded Sites
Site Type
CCC camp, rural domestic untyped structure, road                1
Commercial store, warehouse, Urban house                        1
Fish weir                                                       1
Mine-Phosphate                                                  1
Public cemetery, military cemetery                              1
...                                                           ...
untyped stone structure                                        39
untyped stone structure, moonshine still                        1
untyped stone structure, untyped historic scatter               2
untyped structure                                               1
untyped structure - stone                                       1

[883 rows x 1 columns]

In [29]:
#sort recorded sites in descending order
historic_types = historic_types.sort_values(by="Recorded Sites", ascending = False)
historic_types

                                                 Recorded Sites
Site Type
unknown                                                   16830
rural domestic house                                       1601
rural domestic scatter                                     1221
untyped historic scatter                                   1003
rural domestic farmstead                                    880
...                                                         ...
militaryheadquarters, Urban house                             1
militaryheadquarters, rural domestic plantation               1
militaryheadquarters, university                              1
militaryinternment center                                     1
untyped structure - stone                                     1

[883 rows x 1 columns]

In [30]:
#reset the index
historic_types = historic_types.reset_index()
historic_types

                                           Site Type  Recorded Sites
0                                            unknown           16830
1                               rural domestic house            1601
2                             rural domestic scatter            1221
3                           untyped historic scatter            1003
4                           rural domestic farmstead             880
..                                               ...             ...
878                militaryheadquarters, Urban house               1
879  militaryheadquarters, rural domestic plantation               1
880                 militaryheadquarters, university               1
881                        militaryinternment center               1
882                        untyped structure - stone               1

[883 rows x 2 columns]

In [32]:
historic_types['Recorded Sites'].sum()

25721

In [ ]:
historic_types.

In [ ]:
historic_types = historic_types[historic_types['Recorded Sites'] >= 20]
historic_types

In [31]:
historic_types.to_csv('historic_site_types.csv', index=False)

In [ ]:
historic_types.head(60)

### count of sites by physical division

In [ ]:
physical_division = sites_df.PhysioDiv.value_counts()
physical_division

In [ ]:
pd.DataFrame(data = physical_division)

In [ ]:
physical_division = physical_division.reset_index()
physical_division

In [ ]:
physical_division = physical_division.rename(columns={"index": "Physical Division", "PhysioDiv": "Recorded Sites"})
physical_division

In [ ]:
physical_division = physical_division.replace(" ", "unknown")
physical_division

In [ ]:
physical_division.to_csv('physical_division_site_types.csv', index=False)

In [ ]:
sns.barplot(data = physical_division, x = "physical_division", y = "recorded_sites")
plt.xticks(rotation = 90)

### count of sites by land use type

In [ ]:
land_use = sites_df.LandUse.value_counts()
land_use

In [ ]:
pd.DataFrame(data = land_use)

In [ ]:
land_use = land_use.reset_index()
land_use

In [ ]:
land_use = land_use.rename(columns={"index": "Land Use", "LandUse": "Recorded Sites"})
land_use

In [ ]:
land_use = land_use.replace({" ": "unknown", "s": "unknown", "Other": "unknown", "other": "unknown"})
land_use

In [ ]:
land_use = land_use.groupby(by="Land Use").sum('Recorded Sites')
land_use

In [ ]:
land_use = land_use.reset_index()
land_use

In [ ]:
land_use = land_use.sort_values(by = 'Recorded Sites', ascending = False)
land_use

In [ ]:
land_use.to_csv('land_use_site_types.csv', index=False)

In [ ]:
sns.barplot(data = land_use, x = "land_use", y = "recorded_sites")
plt.xticks(rotation = 90)

### count of sites by reporter type

In [ ]:
reporter_type = sites_df.RptrType.value_counts()
reporter_type

In [ ]:
pd.DataFrame(data=reporter_type)

In [ ]:
reporter_type = reporter_type.reset_index()
reporter_type

In [ ]:
reporter_type = reporter_type.rename(columns={"index": "Reporter Type", "RptrType": "Recorded Sites"})
reporter_type

In [ ]:
reporter_type = reporter_type.replace(" ", "unknown")
reporter_type

In [ ]:
reporter_type.to_csv('reporter_site_types.csv', index=False)

In [ ]:
sns.barplot(data = reporter_type, 
           x = "reporter_type", 
           y = "recorded_sites")
plt.xticks(rotation = 90)

### count of sites by survey level

In [ ]:
survey_level = sites_df.SurvLevel.value_counts()
survey_level

In [ ]:
pd.DataFrame(data = survey_level)

In [ ]:
survey_level = survey_level.reset_index()
survey_level

In [ ]:
survey_level = survey_level.rename(columns={"index": "Survey Level", "SurvLevel": "Recorded Sites"})
survey_level

In [ ]:
survey_level = survey_level.replace(" ", "unknown")
survey_level

In [ ]:
survey_level.to_csv('survey_level_site_types.csv', index=False)

In [ ]:
sns.barplot(data = survey_level, 
           x = "survey_level", 
           y = "recorded_sites")
plt.xticks(rotation = 90)