In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sites_df = pd.read_csv('../data/Site_Data.csv', nrows=25722)

In [ ]:
sites_df.dtypes

In [ ]:
sites_df.shape

In [3]:
reporter_by_county = sites_df[['County', 'RptrType']]
reporter_by_county

         County                   RptrType
0      Anderson    Educational Institution
1      Anderson  Avocational Archaeologist
2      Anderson  Avocational Archaeologist
3      Anderson    Educational Institution
4      Anderson    Educational Institution
...         ...                        ...
25716     Union    Educational Institution
25717
25718
25719
25720

[25721 rows x 2 columns]

In [4]:
reporter_county = reporter_by_county.rename(columns={"RptrType": "ReporterType"})
reporter_county

         County               ReporterType
0      Anderson    Educational Institution
1      Anderson  Avocational Archaeologist
2      Anderson  Avocational Archaeologist
3      Anderson    Educational Institution
4      Anderson    Educational Institution
...         ...                        ...
25716     Union    Educational Institution
25717
25718
25719
25720

[25721 rows x 2 columns]

In [5]:
reporter = reporter_county.groupby(["County", "ReporterType"])["ReporterType"].count()
reporter
#result = df.groupby(['Courses','Fee'])['Courses'].count()

County    ReporterType
                                               4
Anderson                                       6
          Avocational Archaeologist            5
          Educational Institution            131
          Government Agency                   18
                                            ...
Wilson    Avocational Archaeologist            6
          Educational Institution              1
          Government Agency                  176
          Private Consultant                  62
          Professional Volunteered Report      3
Name: ReporterType, Length: 522, dtype: int64

In [7]:
#turn into dataframe
pd.DataFrame(data = reporter)

                                          ReporterType
County   ReporterType
                                                     4
Anderson                                             6
         Avocational Archaeologist                   5
         Educational Institution                   131
         Government Agency                          18
...                                                ...
Wilson   Avocational Archaeologist                   6
         Educational Institution                     1
         Government Agency                         176
         Private Consultant                         62
         Professional Volunteered Report             3

[522 rows x 1 columns]

### Work on figuring out why the above dataframe won't reset index and download to a csv correctly

In [8]:
reporter.to_csv('reporter_by_county.csv', index=False)

In [10]:
reporter.info()

<class 'pandas.core.series.Series'>
MultiIndex: 522 entries, (' ', ' ') to ('Wilson', 'Professional Volunteered Report')
Series name: ReporterType
Non-Null Count  Dtype
--------------  -----
522 non-null    int64
dtypes: int64(1)
memory usage: 8.1+ KB

### Count of recorded archaeological sites per county in TN

In [ ]:
#count of sites per county
counties = sites_df.County.value_counts()
counties

In [ ]:
#reset index
counties = counties.reset_index()
counties

In [ ]:
#rename columns
counties = counties.rename(columns={"index": "county", "County": "recorded_sites"})
counties

In [ ]:
(counties.loc[counties['county'] == 'Sequatchie'])

In [ ]:
#drop blank row and 'DV' row
counties_2 = counties.drop(index=[95,96], axis=0)
counties_2

In [ ]:
#download as csv file
counties_2.to_csv('sites_by_county.csv', index=False)

In [ ]:
sns.barplot(data=counties_2, x='county', y='recorded_sites')
plt.xticks(rotation=90)
plt.figure(figsize=(20,20))

### count of sites by owner type

In [ ]:
#value counts of sites by owner type
ownership = sites_df.Ownership.value_counts()
ownership

In [ ]:
#turn into dataframe
pd.DataFrame(data = ownership)

In [ ]:
#reset the index
ownership = ownership.reset_index()
ownership

In [ ]:
#rename columns
ownership = ownership.rename(columns={"index": "owner_type", "Ownership": "recorded_sites"})
ownership

In [ ]:
#replace blank values with "unknown"
ownership = ownership.replace(' ', 'unknown')
ownership

In [ ]:
#rename federal government rows
ownership = ownership.replace('federal', 'federal gov')
ownership

In [ ]:
#rename local government rows
ownership = ownership.replace('Local', 'local gov')
ownership

In [ ]:
#group owner_type column by unique values and sum identical owner_types together
ownership = ownership.groupby(by="owner_type").sum('recorded_sites')
ownership

In [ ]:
#sort recorded sites in descending order
ownership = ownership.sort_values(by="recorded_sites", ascending = False)
ownership

In [ ]:
#reset index
ownership = ownership.reset_index()
ownership

In [ ]:
#download as csv file
ownership.to_csv('sites_by_owner_type.csv', index=False)

In [ ]:
sns.barplot(data = ownership, x = "owner_type", y = "recorded_sites")

### count of sites by prehistoric site type

In [ ]:
#value counts of prehistoric sites by site type
prehistoric_types = sites_df.PrehType.value_counts()
prehistoric_types

In [ ]:
#turn into dataframe
pd.DataFrame(data=prehistoric_types)

In [ ]:
#reset the index
prehistoric_types = prehistoric_types.reset_index()
prehistoric_types

In [ ]:
#rename columns
prehistoric_types = prehistoric_types.rename(columns={"index": "Site Type", "PrehType": "Recorded Sites"})
prehistoric_types

In [ ]:
#replace blank values with "unknown"
prehistoric_types = prehistoric_types.replace(' ', 'unknown')
prehistoric_types

In [ ]:
#sort recorded sites in descending order
prehistoric_types = prehistoric_types.sort_values(by="Recorded Sites", ascending = False)
prehistoric_types

In [ ]:
#rename rows
prehistoric_types = prehistoric_types.replace({'open habitation, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, earth mound': 'earth mound', 'open habitation, mound complex': 'mound complex', 'open habitation, shell mound/midden': 'shell mound/midden', 'open habitation, indeterminate mound': 'indeterminate mound', 'open habitation, quarry': 'quarry', 'open habitation, isolated burial(s)': 'isolated burial(s)'})
prehistoric_types

In [ ]:
#rename rows
prehistoric_types = prehistoric_types.replace({'cave, Pleistocene fauna': 'Pleistocene fauna', 'open habitation, stone mound': 'stone mound', 'open habitation, platform mound': ' platform mound', 'open habitation, mound complex, prehistoric cemetery': 'prehistoric cemetery', 'cave, rock shelter': 'rock shelter', 'open habitation, earth mound, prehistoric cemetery': 'prehistoric cemetery', 'earth mound, prehistoric cemetery': 'prehistoric cemetery', 'cave, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, rock shelter': 'rock shelter', 'mound complex, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, indeterminate mound, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, earth mound, shell mound/midden': 'shell mound/midden', 'earth mound, indeterminate mound': 'indeterminate mound', 'stone mound, earth mound': 'earth mound', 'mound complex, stone mound': 'stone mound', 'open habitation, mound complex, platform mound': 'platform mound', 'open habitation, mound complex, platform mound, earth mound': 'earth mound', 'open habitation, cave': 'cave'})
prehistoric_types

In [ ]:
#rename rows
prehistoric_types = prehistoric_types.replace({'rock shelter, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, Pleistocene fauna': 'Pleistocene fauna', 'open habitation, mound complex, earth mound': 'earth mound', 'mound complex, earth mound': 'earth mound', 'stone mound, prehistoric cemetery': 'prehistoric cemetery', 'rock shelter, isolated burial(s)': 'isolated burial(s)', 'earth mound, isolated burial(s)': 'isolated burial(s)', 'mound complex, stone mound, earth mound': 'earth mound', 'open habitation, earth mound, isolated burial(s)': 'isolated burial(s)', 'open habitation, fish weir': 'fish weir', 'open habitation, prehistoric cemetery, shell mound/midden': 'prehistoric cemetery', 'cave, pleistocene fauna': 'Pleistocene fauna', 'cave, isolated burial(s)': 'isolated burial(s)', 'open habitation, earth mound, earthworks' : 'earthworks', 'open habitation, platform mound, prehistoric cemetery': 'prehistoric cemetery'})
prehistoric_types

In [ ]:
#rename rows
prehistoric_types = prehistoric_types.replace({'open habitation, mound complex, platform mound, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, platform mound, earth mound': 'earth mound', 'open habitation, mound complex, earth mound, prehistoric cemetery': 'prehistoric cemetery', 'cave, pictograph': 'pictograph', 'stone mound, earthmound, prehistoric cemetery': 'prehistoric cemetery', 'stone mound, stoneworks': 'stoneworks', 'stone mound, stoneworks (pile)': 'stoneworks', 'open habitation, prehistoric cemetery, quarry': 'prehistoric cemetery', 'open habitation, stoneworks':'stoneworks'})
prehistoric_types

In [ ]:
#rename rows
prehistoric_types = prehistoric_types.replace({'platform mound, prehistoric cemetery': 'prehistoric cemetery', 'platform mound, stone mound': 'stone mound', 'open habitation, stoneworks (piles)': 'stoneworks', 'platform mound, indeterminate mound': 'platform mound', 'open habitation, stone works': 'stoneworks', 'rock shelter, fish weir': 'fish weir', 'cave, open habitation': 'cave', 'cave, mound complex, stone mound': 'stone mound', 'cave, isolated burials': 'isolated burials', 'open habitation, stone mound, isolated burial(s)': 'isolated burial(s)', 'rock shelter, petroglyph': 'petroglyph'})
prehistoric_types

In [ ]:
#rename rows
prehistoric_types = prehistoric_types.replace({'indeterminate mound, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, shell mound/midden, isolated burial(s)': 'isolated burial(s)', 'open habitation, shell mound/midden, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, stone mound, earth mound': 'earth mound', 'open habitation, stone mound, quarry': 'quarry', 'cave, rock shelter, isolated burial(s)': 'isolated burial(s)', 'cave, quarry, pleistocene fauna': 'Pleistocene fauna', 'cave, quarry, open habitation': 'quarry', 'cave, quarry': 'quarry', 'cave, prehistoric cemetery, pleistocene fauna': 'Pleistocene fauna'})
prehistoric_types

In [ ]:
#rename rows
prehistoric_types = prehistoric_types.replace({'open habitation, prehistoric cemetery, indeterminate mound': 'prehistoric cemetery', 'cave, isolated burial': 'isolated burial(s)', 'cave, Pleistocene fauna, prehistoric cemetery': 'prehistoric cemetery', 'stone mound, isolated burial(s)': 'isolated burial(s)', 'stoneworks, prehistoric cemetery': 'prehistoric cemetery', 'stoneworks, quarry': 'quarry', 'open habitation, rock shelter, mound complex, shell mound/midden': 'shell mound/midden', 'open habitation, prehistoric cemetery, fish weir': 'prehistoric cemetery', 'open habitation, cemetery': 'prehistoric cemetery', 'fish weir, stoneworks': 'fish weir'})
prehistoric_types

In [ ]:
#rename rows
prehistoric_types = prehistoric_types.replace({'earthworks, open habitation': 'earthworks', 'mound complex, earth mound, isolated burial(s)': 'isolated burial(s)', 'mound complex, prehistoric cemetery, open habitation': 'prehistoric cemetery', 'mound complex, stone mound, isolated burial(s)': 'isolated burial(s)', 'cave, stoneworks': 'stoneworks', 'open habitation, cave, rock shelter': 'rock shelter', 'open habitation, pleistocene fauna': 'Pleistocene fauna', 'open habitation, earth mound, prehistoric cemetery, earthworks': 'prehistoric cemetery', 'open habitation, earthworks, prehistoric cemetery': 'prehistoric cemetery'})
prehistoric_types

In [ ]:
#rename rows
prehistoric_types = prehistoric_types.replace({'open habitation, indeterminate mound': 'indeterminate mound', 'open habitation, mound complex, indeterminate mound, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, mound complex, platform mound, earthworks': 'platform mound', 'open habitation, mound complex, platform mound, indeterminate mound, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, mound complex, stone mound': 'stone mound', 'open habitation, platform mound, shell mound/midden': 'shell mound/midden', 'open habitation, platform mound, shell mound/midden, prehistoric cemetery': 'prehistoric cemetery', 'open habitation, earth mound, indeterminate mound': 'earth mound'})
prehistoric_types

In [ ]:
#rename rows
prehistoric_types = prehistoric_types.replace({'stone mound, indetermineate mound': 'stone mound', 'stoneworks, isolated burial(s)':'isolated burial(s)', 'stoneworks (stone pile)':'stoneworks', 'open habitation, mound complex, platform mound, indeterminate mound, prehistoric cemetery': 'prehistoric cemetery', 'Fish weir':'fish weir', 'open habitation, inderminate mound': 'indeterminate mound', 'Pleistocene Fauna': 'Pleistocene fauna', ' platform mound': 'platform mound', 'isolated prehistoric burial(s)': 'isolated burial(s)'})
prehistoric_types

In [ ]:
#rename rows
prehistoric_types = prehistoric_types.replace({'reported earth mound': 'earth mound', ' open habitation, mound complex, platform mound, indeterminate mound, prehistoric cemetery': 'prehistoric cemetery', 'non-diagnostic isolate': 'isolated non-diagnostic artifact', 'isolated burials': 'isolated burial(s)'})
prehistoric_types

In [ ]:
#group owner_type column by unique values and sum identical owner_types together
prehistoric_types = prehistoric_types.groupby(by="Site Type").sum('Recorded Sites')
prehistoric_types

In [ ]:
#sort recorded sites in descending order
prehistoric_types = prehistoric_types.sort_values(by="Recorded Sites", ascending = False)
prehistoric_types

In [ ]:
prehistoric_types_final = prehistoric_types[prehistoric_types['Recorded Sites'] >= 20]
prehistoric_types_final

In [ ]:
prehistoric_types_final = prehistoric_types_final.reset_index()
prehistoric_types_final

In [ ]:
prehistoric_types_final.to_csv('prehistoric_site_types.csv', index=False)

### count of sites by historic site type

In [ ]:
historic_types = sites_df.HistType.value_counts()
historic_types

In [ ]:
#turn into dataframe
pd.DataFrame(data=historic_types)

In [ ]:
#reset the index
historic_types = historic_types.reset_index()
historic_types

In [ ]:
#rename columns
historic_types = historic_types.rename(columns={"index": "Site Type", "HistType": "Recorded Sites"})
historic_types

In [ ]:
#replace blank values with "unknown"
historic_types = historic_types.replace(' ', 'unknown')
historic_types

In [ ]:
#sort recorded sites in descending order
historic_types = historic_types.sort_values(by="Recorded Sites", ascending = False)
historic_types

In [ ]:
#group owner_type column by unique values and sum identical owner_types together
historic_types = historic_types.groupby(by="Site Type").sum('Recorded Sites')
historic_types

In [ ]:
#sort recorded sites in descending order
historic_types = historic_types.sort_values(by="Recorded Sites", ascending = False)
historic_types

In [ ]:
#reset the index
historic_types = historic_types.reset_index()
historic_types

In [ ]:
historic_types = historic_types[historic_types['Recorded Sites'] >= 20]
historic_types

In [ ]:
historic_types.to_csv('historic_site_types.csv', index=False)

In [ ]:
historic_types.head(60)

### count of sites by physical division

In [ ]:
physical_division = sites_df.PhysioDiv.value_counts()
physical_division

In [ ]:
pd.DataFrame(data = physical_division)

In [ ]:
physical_division = physical_division.reset_index()
physical_division

In [ ]:
physical_division = physical_division.rename(columns={"index": "Physical Division", "PhysioDiv": "Recorded Sites"})
physical_division

In [ ]:
physical_division = physical_division.replace(" ", "unknown")
physical_division

In [ ]:
physical_division.to_csv('physical_division_site_types.csv', index=False)

In [ ]:
sns.barplot(data = physical_division, x = "physical_division", y = "recorded_sites")
plt.xticks(rotation = 90)

### count of sites by land use type

In [ ]:
land_use = sites_df.LandUse.value_counts()
land_use

In [ ]:
pd.DataFrame(data = land_use)

In [ ]:
land_use = land_use.reset_index()
land_use

In [ ]:
land_use = land_use.rename(columns={"index": "Land Use", "LandUse": "Recorded Sites"})
land_use

In [ ]:
land_use = land_use.replace({" ": "unknown", "s": "unknown", "Other": "unknown", "other": "unknown"})
land_use

In [ ]:
land_use = land_use.groupby(by="Land Use").sum('Recorded Sites')
land_use

In [ ]:
land_use = land_use.reset_index()
land_use

In [ ]:
land_use = land_use.sort_values(by = 'Recorded Sites', ascending = False)
land_use

In [ ]:
land_use.to_csv('land_use_site_types.csv', index=False)

In [ ]:
sns.barplot(data = land_use, x = "land_use", y = "recorded_sites")
plt.xticks(rotation = 90)

### count of sites by reporter type

In [ ]:
reporter_type = sites_df.RptrType.value_counts()
reporter_type

In [ ]:
pd.DataFrame(data=reporter_type)

In [ ]:
reporter_type = reporter_type.reset_index()
reporter_type

In [ ]:
reporter_type = reporter_type.rename(columns={"index": "Reporter Type", "RptrType": "Recorded Sites"})
reporter_type

In [ ]:
reporter_type = reporter_type.replace(" ", "unknown")
reporter_type

In [ ]:
reporter_type.to_csv('reporter_site_types.csv', index=False)

In [ ]:
sns.barplot(data = reporter_type, 
           x = "reporter_type", 
           y = "recorded_sites")
plt.xticks(rotation = 90)

### count of sites by survey level

In [ ]:
survey_level = sites_df.SurvLevel.value_counts()
survey_level

In [ ]:
pd.DataFrame(data = survey_level)

In [ ]:
survey_level = survey_level.reset_index()
survey_level

In [ ]:
survey_level = survey_level.rename(columns={"index": "Survey Level", "SurvLevel": "Recorded Sites"})
survey_level

In [ ]:
survey_level = survey_level.replace(" ", "unknown")
survey_level

In [ ]:
survey_level.to_csv('survey_level_site_types.csv', index=False)

In [ ]:
sns.barplot(data = survey_level, 
           x = "survey_level", 
           y = "recorded_sites")
plt.xticks(rotation = 90)