In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### County Tax Receipts

In [ ]:
county_tax_receipts = pd.read_csv('../data/countytaxreceipts.csv')
county_tax_receipts

In [ ]:
#rename County Tax Receipts column
county_tax_receipts = county_tax_receipts.rename(columns={"County Tax Receipts (Local Tax In Millions)": "county_tax_receipts_in_millions"})
county_tax_receipts

In [ ]:
#sort county_tax_receipts in descending order
sorted_county_tax = county_tax_receipts.sort_values(by='county_tax_receipts_in_millions', ascending = False)
sorted_county_tax

In [ ]:
#remove Domestic&international rows
sorted_county_tax_2 = sorted_county_tax[sorted_county_tax["County"].str.contains("Domestic&international")==False]
sorted_county_tax_2

In [ ]:
#only keep years: 2001, 2010, 2019
sorted_county_tax_3 = sorted_county_tax_2[sorted_county_tax_2["Year"].isin(["2001", "2010", "2019"])]
sorted_county_tax_3

In [ ]:
#sort values by county, then year
sorted_county_tax_3 = sorted_county_tax_3.sort_values(by=['County', 'Year'])
sorted_county_tax_3

In [ ]:
sorted_county_tax_3.to_csv('county_tax_receipts.csv', index=False)

### County Employment

In [ ]:
employment = pd.read_csv('../data/employementinthousands.csv')
employment

In [ ]:
employment = employment.rename(columns={"Employement In Thousands": "employment_in_thousands"})
employment

In [ ]:
sorted_employment = employment.sort_values(by=['employment_in_thousands'], ascending = False)
sorted_employment

In [ ]:
#remove Domestic&international rows
sorted_employment = sorted_employment[sorted_employment["County"].str.contains("Domestic&international")==False]
sorted_employment

In [ ]:
#only keep years: 2001, 2010, 2019
sorted_employment = sorted_employment[sorted_employment["Year"].isin(["2001", "2010", "2019"])]
sorted_employment

In [ ]:
#sort values by county, then year
sorted_employment = sorted_employment.sort_values(by=['County', 'Year'])
sorted_employment

In [ ]:
sorted_employment.to_csv('county_employment.csv', index=False)

### County Expenditures

In [2]:
expenditures = pd.read_csv('../data/expenditures.csv')
expenditures

      Year      County  Expenditure ($ Millions) LastReportedDate  Unnamed: 4
0     2001    Anderson                   66.8607       2021-02-04         NaN
1     2001     Bedford                   19.7084       2021-02-04         NaN
2     2001      Benton                   14.9474       2021-02-04         NaN
3     2001     Bledsoe                    2.6455       2021-02-04         NaN
4     2001      Blount                  173.5346       2021-02-04         NaN
...    ...         ...                       ...              ...         ...
1809  2019     Weakley                   22.3452       2021-02-04         NaN
1810  2019       White                   23.7894       2021-02-04         NaN
1811  2019  Williamson                  497.1957       2021-02-04         NaN
1812  2019      Wilson                  181.0189       2021-02-04         NaN
1813              NaN                       NaN              NaN         NaN

[1814 rows x 5 columns]

In [3]:
expenditures = expenditures.rename(columns={"Expenditure ($ Millions)": "expenditure_in_millions"})
expenditures

      Year      County  expenditure_in_millions LastReportedDate  Unnamed: 4
0     2001    Anderson                  66.8607       2021-02-04         NaN
1     2001     Bedford                  19.7084       2021-02-04         NaN
2     2001      Benton                  14.9474       2021-02-04         NaN
3     2001     Bledsoe                   2.6455       2021-02-04         NaN
4     2001      Blount                 173.5346       2021-02-04         NaN
...    ...         ...                      ...              ...         ...
1809  2019     Weakley                  22.3452       2021-02-04         NaN
1810  2019       White                  23.7894       2021-02-04         NaN
1811  2019  Williamson                 497.1957       2021-02-04         NaN
1812  2019      Wilson                 181.0189       2021-02-04         NaN
1813              NaN                      NaN              NaN         NaN

[1814 rows x 5 columns]

In [4]:
sorted_expenditures = expenditures.sort_values(by=['expenditure_in_millions'], ascending = False)
sorted_expenditures

,Year,County,expenditure_in_millions,LastReportedDate,Unnamed: 4
1739,2019,Domestic&international,23273.1505,2021-02-04,NaN
1643,2018,Domestic&international,22017.8904,2021-02-04,NaN
1547,2017,Domestic&international,20771.1007,2021-02-04,NaN
1451,2016,Domestic&international,19539.0498,2021-02-04,NaN
1355,2015,Domestic&international,18659.6526,2021-02-04,NaN
...,...,...,...,...,...
318,2004,Hancock,0.9440,2021-02-04,NaN
223,2003,Hancock,0.9003,2021-02-04,NaN
128,2002,Hancock,0.8787,2021-02-04,NaN
33,2001,Hancock,0.8768,2021-02-04,NaN
1813,,NaN,NaN,NaN,NaN

In [5]:
#remove Domestic&international rows
sorted_expenditures = sorted_expenditures[sorted_expenditures["County"].str.contains("Domestic&international")==False]
sorted_expenditures

      Year    County  expenditure_in_millions LastReportedDate  Unnamed: 4
1735  2019  Davidson                7524.2648       2021-02-04         NaN
1639  2018  Davidson                6961.3502       2021-02-04         NaN
1543  2017  Davidson                6505.3850       2021-02-04         NaN
1447  2016  Davidson                5996.5052       2021-02-04         NaN
1351  2015  Davidson                5686.3429       2021-02-04         NaN
...    ...       ...                      ...              ...         ...
413   2005   Hancock                   0.9806       2021-02-04         NaN
318   2004   Hancock                   0.9440       2021-02-04         NaN
223   2003   Hancock                   0.9003       2021-02-04         NaN
128   2002   Hancock                   0.8787       2021-02-04         NaN
33    2001   Hancock                   0.8768       2021-02-04         NaN

[1805 rows x 5 columns]

In [6]:
#only keep years: 2001, 2010, 2019
sorted_expenditures = sorted_expenditures[sorted_expenditures["Year"].isin(["2001", "2010", "2019"])]
sorted_expenditures

      Year    County  expenditure_in_millions LastReportedDate  Unnamed: 4
1735  2019  Davidson                7524.2648       2021-02-04         NaN
1796  2019    Shelby                3812.4867       2021-02-04         NaN
873   2010  Davidson                3803.3469       2021-02-04         NaN
18    2001  Davidson                2978.1453       2021-02-04         NaN
933   2010    Shelby                2900.9468       2021-02-04         NaN
...    ...       ...                      ...              ...         ...
918   2010     Moore                   1.5420       2021-02-04         NaN
1751  2019   Hancock                   1.3523       2021-02-04         NaN
888   2010   Hancock                   1.1336       2021-02-04         NaN
63    2001     Moore                   1.0110       2021-02-04         NaN
33    2001   Hancock                   0.8768       2021-02-04         NaN

[285 rows x 5 columns]

In [7]:
#sort values by county, then year
sorted_expenditures = sorted_expenditures.sort_values(by=['County', 'Year'])
sorted_expenditures

      Year      County  expenditure_in_millions LastReportedDate  Unnamed: 4
0     2001    Anderson                  66.8607       2021-02-04         NaN
855   2010    Anderson                 104.8024       2021-02-04         NaN
1717  2019    Anderson                 144.6757       2021-02-04         NaN
1     2001     Bedford                  19.7084       2021-02-04         NaN
856   2010     Bedford                  22.9887       2021-02-04         NaN
...    ...         ...                      ...              ...         ...
948   2010  Williamson                 295.5471       2021-02-04         NaN
1811  2019  Williamson                 497.1957       2021-02-04         NaN
94    2001      Wilson                  63.3047       2021-02-04         NaN
949   2010      Wilson                 107.9212       2021-02-04         NaN
1812  2019      Wilson                 181.0189       2021-02-04         NaN

[285 rows x 5 columns]

In [8]:
sorted_expenditures.to_csv('county_expenditures.csv', index=False)

### Local Tax Savings

In [ ]:
local_tax_savings = pd.read_csv('../data/localtaxsavings.csv')
local_tax_savings

In [ ]:
local_tax_savings = local_tax_savings.rename(columns={"Value": "tax_savings_value"})
local_tax_savings

In [ ]:
sorted_local_tax = local_tax_savings.sort_values(by=['tax_savings_value'], ascending = False)
sorted_local_tax

### County Payroll

In [ ]:
payroll = pd.read_csv('../data/payroll.csv')
payroll

In [ ]:
payroll = payroll.rename(columns={"Payroll ($ Millions)": "payroll_in_millions"})
payroll

In [ ]:
sorted_payroll = payroll.sort_values(by=['payroll_in_millions'], ascending = False)
sorted_payroll

### State Tax Receipts

In [ ]:
state_tax_receipts = pd.read_csv('../data/statetaxreceipts.csv')
state_tax_receipts

In [ ]:
state_tax_receipts = state_tax_receipts.rename(columns={"State Tax Receipts ($ Millions)": "state_tax_receipts_in_millions"})
state_tax_receipts

In [ ]:
sorted_state_tax_receipts = state_tax_receipts.sort_values(by=['state_tax_receipts_in_millions'], ascending = False)
sorted_state_tax_receipts

### State Tax Savings

In [ ]:
state_tax_savings = pd.read_csv('../data/statetaxsavings.csv')
state_tax_savings

In [ ]:
state_tax_savings = state_tax_savings.rename(columns={"Value": "state_tax_value_savings"})
state_tax_savings

In [ ]:
sorted_state_tax_savings = state_tax_savings.sort_values(by=['state_tax_value_savings'], ascending = False)
sorted_state_tax_savings

### Total Tax Savings

In [ ]:
total_tax_saving = pd.read_csv('../data/totaltaxsaving.csv')
total_tax_saving

In [ ]:
total_tax_saving = total_tax_saving.rename(columns={"Value": "total_tax_savings"})
total_tax_saving

In [ ]:
sorted_total_tax_savings = total_tax_saving.sort_values(by=['total_tax_savings'], ascending = False)
sorted_total_tax_savings