In [1]:
import pandas as pd

In [2]:
county_tax_receipts = pd.read_csv('../data/countytaxreceipts.csv')
county_tax_receipts

,Year,County,County Tax Receipts (Local Tax In Millions),LastReportedDate,Unnamed: 4
0,2001,Anderson,1.4328,2021-02-04,NaN
1,2001,Bedford,0.7659,2021-02-04,NaN
2,2001,Benton,1.5913,2021-02-04,NaN
3,2001,Bledsoe,0.4216,2021-02-04,NaN
4,2001,Blount,5.9471,2021-02-04,NaN
...,...,...,...,...,...
1809,2019,Weakley,0.7429,2021-02-04,NaN
1810,2019,White,1.1062,2021-02-04,NaN
1811,2019,Williamson,10.0336,2021-02-04,NaN
1812,2019,Wilson,5.2766,2021-02-04,NaN
1813,,NaN,NaN,NaN,NaN

In [11]:
county_tax_receipts.dtypes

Year                                            object
County                                          object
County Tax Receipts (Local Tax In Millions)    float64
LastReportedDate                                object
dtype: object

In [13]:
sorted_county_tax = county_tax_receipts.sort_values('County Tax Receipts (Local Tax In Millions)', axis = 1, ascending = False)

KeyError: 'County Tax Receipts (Local Tax In Millions)'

In [ ]:
employment = pd.read_csv('../data/employementinthousands.csv')
employment

In [ ]:
expenditures = pd.read_csv('../data/expenditures.csv')
expenditures

In [ ]:
local_tax_savings = pd.read_csv('../data/localtaxsavings.csv')
local_tax_savings

In [ ]:
payroll = pd.read_csv('../data/payroll.csv')
payroll

In [ ]:
state_tax_receipts = pd.read_csv('../data/statetaxreceipts.csv')
state_tax_receipts

In [ ]:
state_tax_savings = pd.read_csv('../data/statetaxsavings.csv')
state_tax_savings

In [ ]:
total_tax_saving = pd.read_csv('../data/totaltaxsaving.csv')
total_tax_saving